server:
  port: 8443
  ssl:
    key-store: classpath:certs/backend.p12
    key-store-password: changeit
    key-store-type: PKCS12
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    secure-port-enabled: true
    secure-port: ${server.port}
    lease-expiration-duration-in-seconds: 2
    lease-renewal-interval-in-seconds: 1

zuul:
  routes:
    agency-service:
      path: /api/agency/**
      service-id: agency-service
      strip-prefix: false
  ignored-services: '*'
  sensitive-headers:

#logging:
#  level:
#    org.springframework.cloud.netflix.zuul: DEBUG
#    com.netflix.loadbalancer: DEBUG
#    com.netflix.zuul: DEBUG