server:
  port: 8443
  ssl:
    key-store: classpath:certs/backend.p12
    key-store-password: changeit
    key-store-type: PKCS12
    enabled: true

eureka:
  client:
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    secure-port: ${server.port}
    secure-port-enabled: true
    lease-expiration-duration-in-seconds: 2
    lease-renewal-interval-in-seconds: 1

ribbon:
  eureka:
    enabled: true
  IsSecure: false  # Отключаем HTTPS для внутренних сервисов
  IsClientAuthRequired: false  # Отключаем SSL для внутренних вызовов
  IsHostnameValidationRequired: false

zuul:
  prefix: api/
  routes:
    agency-service:
      path: /agency/**
      service-id: agency-service
      strip-prefix: false
  ignored-services: '*'
  ssl-hostname-validation-enabled: false

#logging:
#  level:
#    org.springframework.cloud.netflix.zuul: DEBUG
#    com.netflix.loadbalancer: DEBUG
#    com.netflix.zuul: DEBUG