server:
  port: 0 # Случайный порт для регистрации в Eureka

spring:
  cloud:
    inetutils:
      preferred-networks: 127.0.0.1
  datasource:
    url: jdbc:postgresql://localhost:5432/shrew?useSSL=false
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    registry-fetch-interval-seconds: 5
  instance:
    hostname: localhost
    ip-address: 127.0.0.1
    prefer-ip-address: true  # Используем IP для регистрации

    # ЯВНО указываем, что сервис работает по HTTP
    non-secure-port: ${server.port}
    non-secure-port-enabled: true
    secure-port-enabled: false

    instance-id: ${spring.application.name}:${random.value}:${server.port}

    # Метаданные для правильной работы Ribbon
    metadata-map:
      instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}:${server.port}
      management.port: ${server.port}
      proto: http

    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
    endpoint:
      health:
        show-details: always