server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shrew?useSSL=false
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: false
    non-secure-port: ${server.port}
    instance-id: ${spring.application.name}:${random.value}
    lease-expiration-duration-in-seconds: 2
    lease-renewal-interval-in-seconds: 1